---
import type { contentCard } from "../types/CategoryPageTypes";
import {resolveRelativeFilePath} from "@utils/slugUtils";
import "@styles/main.css";

const { item,currentPath } = Astro.props;

interface Props {
  item: contentCard;
  currentPath: string;
}

---

<div>
  <div
    class={`bg-white px-3 py-5 lg:m-0 duration-300 ease-in-out transition-shadow hover:shadow-[0_0px_8px_rgba(0,0,0,0.70)] min-h-full`}
  >
    <div class="grid grid-cols-1 gap-2 h-fit">
      <a href={item.url && resolveRelativeFilePath(currentPath, item.url)} class="font-bold text-[17px]">{item.title}</a>
      {
        item.links?.map((subitem) => {
          return (
            <div class="flex flex-col items-center pb-1">
              <a
                class="w-full hover:underline text-superOfficeGreen"
                href={resolveRelativeFilePath(currentPath, subitem.url)}
              >
                {subitem.text}
              </a>
            </div>
          );
        })

      }
    </div>
  </div>
</div>
