---
interface Props {
  href: string;
  text?: string | null;
  class?: string;
}

const { href, text = "", class: className = "" } = Astro.props;
const base = import.meta.env.BASE_URL;
---
<a
  class={`text-orange-600 no-underline hover:underline ${className}`}
  href={`${base}${href}`}
>
  {text}
</a>
