---
import Hero from "@components/Hero.astro";
import AreasOfInterest from "@components/AreasOfInterest.astro";
import Audience from "@components/Audience.astro";
import QuickAccessShortcuts from "@components/QuickAccessShortcuts.astro";
import Layout from "@layouts/Base.astro";
import { areasOfInterest } from "../data/navigation";

const metadata = {
  title: "SuperOffice Docs",
};
---

<Layout lang="en" metadata={metadata}>
  <main>
    <Hero />
    <AreasOfInterest {...areasOfInterest} heading="Popular areas of interest" />
    <Audience heading="What type of user are you?" />
    <QuickAccessShortcuts />
  </main>
</Layout>
