---
import type { contentCard } from "../types/CategoryPageTypes";
import IconSelection from "./IconSelection.tsx";

import "@styles/main.css";

const { item, pageTitle } = Astro.props;

interface Props {
  item: contentCard;
  id: number;
  pageTitle: string | undefined;
}
---

<div>
  <div
    class={`bg-white p-4 duration-300 ease-in-out transition-shadow hover:shadow-[0_0px_8px_rgba(0,0,0,0.70)] min-h-full`}
  >
    <p class="font-bold text-lg mb-3">{item.title}</p>
    <div class="grid grid-cols-1 gap-2 h-fit">
      {
        item.links?.map((subitem) => {
          return (
            <div class="flex flex-row items-center">
              <div class="w-6 mr-1">
                {subitem.itemType && (
                  <IconSelection
                    size={24}
                    color="#0c5d58"
                    iconType={subitem.itemType}
                  />
                )}
              </div>
              <a class="w-full hover:underline" href={subitem.url.slice(-3) == ".md" ? `${pageTitle}/${subitem.url.slice(0, -3)}` : subitem.url}>
                {subitem.text}
              </a>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
