---
import { getFeedbackHref } from "@utils/headerUtils";

export interface Props {
  docurl: string;
  title: string;
  uid: string;
}

const { docurl, title, uid } = Astro.props;
const href = getFeedbackHref(docurl, title, uid);
---

<a href={href} target="_blank" class="hover:underline"> Feedback </a>
