---
const tagline =
  "The official documentation site for the SuperOffice Platform - the leading CRM & Customer Service available.";
---

<div class="mx-auto py-6 gradient-banner mt-1 mb-[-80px] relative z-0 h-[250px] flex justify-center">
  <div class="text-center mx-auto px-8">
    <h1 class="font-bold text-inverse text-2xl md:text-3xl mb-2">docs.superoffice.com</h1>
    <p class="text-inverse text-sm flex md:text-base">{tagline}</p>
  </div>
</div>

<style>
  .gradient-banner {
    background-image: linear-gradient(to right, #31b494, #0a5e58);
    color: #fff;
  }
</style>
