---

---
<button
  id="hamburgerButton"
  class="md:hidden p-2 absolute right-3 text-gray-800 focus:outline-none hamburger"
  aria-label="Toggle menu"
>
  <!-- Hamburger icon (3 lines) -->
  <svg
    class="w-6 h-6"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16 M4 12h16 M4 18h16"></path>
  </svg>
</button>
