---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings?.filter((heading) => heading.depth > 1);
---

<nav>
  <p class="font-bold text-xs uppercase">In This Article</p>
  <ul class="pl-1">
    {
      filteredHeadings?.map((heading) => (
        <li>
          <a class="text-xs font-light" href={`#${heading.slug}`}>
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
