---
import type { namespaceClassifiedDataProps } from "../types/WebApiLayoutTypes";

type Props = {
    namespaceData : namespaceClassifiedDataProps
};

const { namespaceData } = Astro.props;

---

<div> 
    {Object.entries(namespaceData).map(([typeName, items]) => (
        <div>
            <h2 id="Classes" class="text-2xl mb-5">{typeName}</h2>
            {
                items.map( (item)=> {
                    return (
                            <a class="font-bold text-orange-700 text-lg no-underline hover:underline" href={`${item.uid}`}>{item.id}</a>
                            <p class="ml-4 !prose" set:html = {item.summary}></p>
                    )
            })}
        </div>
    ))
    }
</div>




