---
import favIcon from "@assets/favicon.ico";
import Header from "@components/Header.astro";
import Footer from "@components/Footer";
import { footerData, headerData } from "../data/navigation";
import { ClientRouter } from "astro:transitions";
import "@styles/main.css";

export interface Props {
  metadata: {
    title: string;
  };
  lang: string;
  scroll?: boolean;
}

const { metadata, lang = "en", scroll = true } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href={favIcon} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{metadata.title}</title>
    <ClientRouter />
  </head>
  <body class="h-screen flex flex-col overflow-hidden">
    <div class="z-50"><Header {...headerData} /></div>
    <div
      class=`min-h-screen ${scroll && "overflow-y-auto"}`
      data-scroll-container
    >
      <main class="flex-grow mb-[140px] md:mb-[120px]">
        <slot />
      </main>
      <Footer client:load {...footerData} />
    </div>
  </body>
</html>
