---
import Base from "./Base.astro";

import "@styles/main.css";

const { title, data } = Astro.props;

const metadata = {
  title: title,
};
---

<Base metadata={metadata}>
  <div class="relative">
    <div
      class="w-full text-white h-44 bg-gradient-to-r from-seaFoamGreen to-superOfficeGreen"
    >
      <p class="absolute text-2xl font-bold top-16 left-20">
        {data.mainHeading}
      </p>
      <p class="absolute top-24 left-20">{data.mainHeadingDescription}</p>
    </div>

    <div class="p-8 flex flex-row gap-5 justify-center items-center">
      <div class="w-[270px] h-[130px] border border-gray-300 p-1">
        <div class="border h-full border-gray-300"></div>
      </div>
      <div class="w-[270px] h-[130px] border border-gray-300 p-1">
        <div class="border h-full border-gray-300"></div>
      </div>
      <div class="w-[270px] h-[130px] border border-gray-300 p-1">
        <div class="border h-full border-gray-300"></div>
      </div>
      <div class="w-[270px] h-[130px] border border-gray-300 p-1">
        <div class="border h-full border-gray-300"></div>
      </div>
    </div>


    <div class="bg-lightTealGray p-20">
        <div class="bg-white h-80 w-80"></div>
    </div>
  </div>
</Base>
