@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@phosphor-icons/web/regular";
@import "./VideoEmbeddingStyles.css";
@import "./IncludeDirectiveStyles.css";

body {
  font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
  font-size: 16px;
}

body,
html {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.text-primary {
  color: #0c5d58;
}

.text-inverse {
  color: #fff;
}

.text-dark {
  color: #222;
}

[astro-icon].icon-light>* {
  stroke-width: 1.2;
}

[astro-icon].icon-bold>* {
  stroke-width: 2.4;
}

/* Add border to screenshots explicitly marked as such in the alt tag */

.article img[alt$="-screenshot"],
.tab-content img[alt$="-screenshot"] {
  border: 2px solid #176457;
  padding: 4px;
  /* max-width: 600px; prevent image size issues on small screens */
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Like -screenshot but no zoom and max height for images of mobile devices*/

.article img[alt$="-app-screen"],
.tab-content img[alt$="-app-screen"] {
  border: 2px solid #176457;
  padding: 4px;
  max-height: 498px;
  width: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

